@model IEnumerable<Bakery.Models.CartItem>
@{
    Layout = null;
}
<script src="https://code.jquery.com/jquery-3.6.3.js"></script>
<script src="js/site.js" asp-append-version="true"></script>
<script>
    function onDecreaseCountByOneClick(url, cartItemId) {
        $.ajax({
            type: 'POST',
            url: url,
            data: { cartItemId: cartItemId },
            success: function () {
                //$(`#subscribe-${subcribeToId}`).hide();
                //$(`#unsubscribe-${subcribeToId}`).show();
                window.location.reload();
            },
            error: function (error) {
                console.error("Error: " + error);
            }
        })
    }
</script>
<script src="~/lib/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.js"></script>

@foreach (var cartItem in Model)
{
    
    <tr>
        <td>@cartItem.Product.Name</td>
        <td>@cartItem.Count</td>
        <td>@cartItem.Product.Price</td>
        <td>@(cartItem.Product.Price * cartItem.Count)</td>
        <td>
            <!--
            <form method="post" action="~/Cart/DecreaseCountByOne">
                <input type="hidden" name="cartItemId" value="@cartItem.Id" />
                <button type="submit">-</button>
            </form>

            -->

            <div id="cartItemId-@cartItem.Id" >
                @* <button id="cartItemId"class="btn" onclick="onDecreaseCountByOneClick('@Url.Action("DecreaseCountByOne", "Cart" )', '@cartItem.Id' );">-</button> *@
                <button id="cartItemId" class="btn" onclick="onDecreaseCountByOneClick('@Url.Action("DecreaseCountByOne", "Cart" )', '@cartItem.Id' );">-</button>
            </div>

            
        </td>
        <td>
            <form method="post" action="~/Cart/IncreaseCountByOne">
                <input type="hidden" name="cartItemId" value="@cartItem.Id" />
                <button type="submit">+</button>
            </form>
        </td>
        <td>
            <form method="post" action="~/Cart/Delete">
                <input type="hidden" name="cartItemId" value="@cartItem.Id" />
                <button type="submit">Удалить</button>
            </form>
        </td>
    </tr>
}

